<script type="text/x-template" id="modal-cadastro-usuario">
    <v-app>
        <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
             <v-btn
              color="primary"
              dark
              v-bind="attrs"
              v-on="on"
            >
                Cadastrar
            </v-btn>
        </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Cadastrar Usuário</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-form ref="form" v-model="valid" lazy-validation>

                            <v-text-field v-model="model.nome" :rules="requiredRule" label="Nome *" required>
                            </v-text-field>

                            <v-text-field v-model="model.email" label="E-mail *" :rules="requiredRule" required></v-text-field>

                            <v-text-field v-model="model.matricula" label="Matrícula *" :rules="requiredRule" required></v-text-field>

                            <v-radio-group label="Administrador  " v-model="model.blStatus" row required>
                                <v-radio :key="1" :label="`Sim `" :value="1"></v-radio>
                                <v-radio :key="0" :label="`Não `" :value="0"></v-radio>
                            </v-radio-group>

                        </v-form>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="gray darken-1" text @click="dialog = false">
                        Cancelar
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="salvar">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</script>
<script>
    Vue.component('modal-cadastro-usuario', {
        template: '#modal-cadastro-usuario',
        data: function() {
            return {
                dialog: false,
                model: {
                    id: null,
                    nome: null,
                    matricula: null,
                    admin: null,
                },
                valid: true,
                requiredRule: [
                    (v) => !!v || "Campo obrigatório",
                    // (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
                ],
                perfis: [],
            };
        },
        watch: {},
        mounted() {
            this.getPerfis();
        },
        methods: {
            salvar: function() {
                if (this.$refs.form.validate()) {

                    this.$refs.form.resetValidation();

                    $.ajax({
                        method: "POST",
                        url: "/usuario/save",
                        data: this.model,
                        success: function(resp) {
                            console.log(resp);
                            this.dialog = false;
                        },
                        error: function(xhr) {
                            // alert("Ops, algo deu errado: " + xhr.status + ", " + xhr.statusText);
                        }
                    })
                }
            },
        }
    });
</script>
<style>
    .v-application--wrap {
        min-height: auto !important;
        display: flex !important;
        align-items: right !important;
    }
</style>