<script type="text/x-template" id="modal-cadastro-usuario">
    <v-app>
        <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
             <v-btn
              color="primary"
              dark
              v-bind="attrs"
              v-on="on"
            >
                Cadastrar
            </v-btn>
        </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Cadastrar Usuário</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-form ref="form" v-model="valid" lazy-validation>

                            <v-text-field v-model="model.matricula" :rules="requiredRule" label="Matrícula *" required>
                            </v-text-field>

                            <v-text-field v-model="model.nomeExibicao" label="Nome para Exibição *" :rules="requiredRule" required></v-text-field>

                            <v-radio-group label="Status " v-model="model.blStatus" row required>
                                <v-radio :key="1" :label="`Ativo `" :value="1"></v-radio>
                                <v-radio :key="0" :label="`Inativo `" :value="0"></v-radio>
                            </v-radio-group>

                            <v-select label="Perfil *" v-model="model.perfil" return-object required :rules="requiredRule" :items="perfis" item-text="perfil">
                            </v-select>

                        </v-form>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="gray darken-1" text @click="dialog = false">
                        Cancelar
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="salvar">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</script>
<script>
    Vue.component('modal-cadastro-usuario', {
        template: '#modal-cadastro-usuario',
        data: function() {
            return {
                dialog: false,
                model: {
                    idUsuario: null,
                    usuario: null,
                    nomeExibicao: null,
                    blStatus: null,
                    matricula: null,
                    dataRegistro: null,
                },
                valid: true,
                requiredRule: [
                    (v) => !!v || "Campo obrigatório",
                    // (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
                ],
                perfis: [],
            };
        },
        watch: {},
        mounted() {
            this.getPerfis();
        },
        methods: {
            getPerfis() {
                axios.get("/perfil/get").then((resp) => {
                    this.perfis = resp.data;
                }).catch((error) => {
                    console.log(error)
                })
            },
            salvar: function() {
                if (this.$refs.form.validate()) {

                    this.$refs.form.resetValidation();

                    delete this.model.perfil.dataRegistro;

                    if (this.idUsuario == null)
                        this.model.dataRegistro = new Date();

                    $.ajax({
                        method: "POST",
                        url: "/usuario/save",
                        data: this.model,
                        success: function(resp) {
                            console.log(resp);
                            this.dialog = false;
                        },
                        error: function(xhr) {
                            // alert("Ops, algo deu errado: " + xhr.status + ", " + xhr.statusText);
                        }
                    })
                }
            },
        }
    });
</script>
<style>
    .v-application--wrap {
        min-height: auto !important;
        display: flex !important;
        align-items: right !important;
    }
</style>