<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GarotaProgram(ame)</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/tema/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/tema/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/tema/dist/css/adminlte.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img height="280px" th:src="@{/images/logo.jpg}" alt="Algar Logo" class="brand-image">
        </div>

        <div class="card" layout:fragment="corpo">
        </div>
    </div>

    <script th:src="@{/tema/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/tema/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/tema/dist/js/adminlte.min.js}"></script>
</body>

</html>