<div class="brand-link ">
    <span class="brand-text font-weight-light"><b>@ garota_progra_me ></b></b></span>
</div>


<div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            <a href="#" class="d-block">Nome User</a>
        </div>
    </div>


    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p> Eventos <i class="right fas fa-angle-left"></i> </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <i class="fa fa-graduation-cap nav-icon"></i>
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>Palestras</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <i class="far fa-comments nav-icon"></i>
                            <p>Debates</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <i class="fas fa-history nav-icon"></i>
                            <p>Historico</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="fas fa-user-graduate nav-icon"></i>
                    <p> Discentes <i class="right fas fa-angle-left"></i> </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/usuarios" class="nav-link ">
                            <i class="far fa-address-card nav-icon"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link ">
                            <i class="far fa-envelope nav-icon"></i>
                            <p>Enviar Convite</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="fas fa-user-edit nav-icon"></i>
                    <p> Artigos </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="fas fa-comments nav-icon"></i>
                    <p> Fórum </p>
                </a>
            </li>
        </ul>
    </nav>

</div>