<div layout:decorate="~{Tema/login}">
    <div class="card-body login-card-body" layout:fragment="corpo">
        <p class="login-box-msg">
            <b>SEJA BEM VINDA(O)</b>
        </p>

        <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>

                <div class="col-4">
                    <a href="/home" type="submit" class="btn btn-success btn-block">Entrar</a>
                </div>

            </div>
        </form>
    </div>
</div>