<div layout:decorate="~{Tema/index}">
	<div class="w3-container" id="homeindex" layout:fragment="corpo">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Atendimento de OS</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#"></a></li>
							<li class="breadcrumb-item active"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<section id="vms" class="content">
			<div class="col-md-12">
				<div class="container-fluid">
					<div layout:insert="Operador/Componentes/dash"></div>
					<div class="btn-iniciar-atendimento text-center mb-5">
						<button v-if="!emAtendimento" type="button" @click="iniciarAtendimento()"
							class="btn bg-gradient-warning btn-lg elevation-2">Iniciar
							atendimento</button>
						<button v-else type="button" @click="iniciarAtendimento()"
							class="btn bg-gradient-success btn-lg elevation-2">Próxima OS</button>

					</div>
					<div class="card">
						<div class="card-header">Os vinculadas</div>
						<div class="card-body">
							<table class="table table-bordered table-striped dataTable">
								<thead>
									<th>Protocolo</th>
									<th>Status</th>
									<th>Data Início Tratamento</th>
									<th>Abrir</th>
								</thead>
								<tbody>
									<tr v-for="i in vinculadas">
										<td>{{i.idBd.protocolo}}</td>
										<td>{{i.idBd.idStatus_fk.status}}</td>
										<td>{{i.dataInicioTratamento}}</td>
										<td><button class="btn btn-small">Abrir</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script>
	var mv = new Vue({
		el: "#vms",
		data() {
			return {
				vinculadas: [],
				emAtendimento: true
			}
		},
		mounted() {
			this.getOsVinculadas()
			// this.getOsAtendimento()
		},
		methods: {
			iniciarAtendimento() {
				this.emAtendimento = true
				this.getOsAtendimento()
			},
			getOsVinculadas() {
				axios.get("/tratamento/listaOsVinculadas").then((resp) => {
					this.vinculadas = resp.data
					if (this.emAtendimento) {
						this.vinculadas.forEach(element => {
							if (element.idBd.idStatus == 3) {
								window.location.href = "http://localhost:8888/operador/modalAtendimento";
							}
							else {
								this.refreshOsVinculada()
							}
						});
					}
				}).catch((error) => {
					console.log(error)
				})
			},
			getOsAtendimento() {
				if (this.emAtendimento) {
					axios.get("/tratamento/getOsAtendimento").then((resp) => {
						if (resp.data.length == 1)
							window.location.href = "http://localhost:8888/operador/modalAtendimento";
						else
							this.refreshOsVinculada()
					}).catch((error) => {
						console.log(error)
					})
				}
			},
			refreshOsVinculada() {
				toastr.info('Buscando nova OS')
				setInterval(() => {
					this.novaOS()
				}, 5000);
			},
			novaOS() {
				var fd = new FormData();
				fd.append("idUsuario", 1)
				axios.post("/osAtendimento/novaOS", fd).then((resp) => {
					this.getOsAtendimento()
				}).catch((error) => {
					console.log(error)
				})
			}
		}
	})
</script>