<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Algar SING | Modal de Atendimento</title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/tema/plugins/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" th:href="@{/tema/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/tema/dist/css/adminlte.min.css}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/modal_os.css}" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<div class="hader-modal" layout:insert="Tema/header"></div>

<body class="content content-modal-os">
	<div id="vms" class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="container-fluid">

				<div class="card callout callout-info mt-5">
					<div class="card-header border-0">
						<h3 class="card-title text-info">Dados Gerais</h3>
					</div>
					<div class="card-body">
						<div class="justify-content-between align-items-center border-bottom mb-3">

							<div class="row">
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Número do Protocolo</span>
										<span class="text-muted">{{os.protocolo}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Telefone</span>
										<span class="text-muted">{{os.telefone}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Data Abertura</span>
										<span class="text-muted">{{os.dataHoraAbertura}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Repetida</span>
										<span class="text-muted">{{os.repetida}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Lista de Tratabalho</span>
										<span class="text-muted">{{os.listaTrabalho}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Segmento</span>
										<span class="text-muted">{{os.nomeSegmento}}</span>
									</p>

								</div>
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Tipos Documento</span>
										<span class="text-muted">{{os.tipo}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Localidade</span>
										<span class="text-muted">{{os.localidade}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Data Anatel</span>
										<span class="text-muted">{{os.vencimentoAnatel}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Status Subscrição</span>
										<span class="text-muted">{{os.subscricao}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Data Entrada Fila</span>
										<span class="text-muted">{{os.horaEntradaFilaAtual}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Segmento 2</span>
										<span class="text-muted">{{os.nomeSegmento2}}</span>
									</p>
								</div>
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Serviço</span>
										<span class="text-muted">{{os.descricaoServico}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Sigla Reginal</span>
										<span class="text-muted">{{os.siglaRegional}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Agenda Mobile</span>
										<span class="text-muted">{{os.agendamentoMobile}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Número Fictício</span>
										<span class="text-muted">{{os.numeroFicticio}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Produto</span>
										<span class="text-muted">{{os.produto}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Segmento Pai</span>
										<span class="text-muted">{{os.segmentoPai}}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card callout callout-info  mt-2">
					<div class="card-header border-0">
						<h3 class="card-title text-info">Dados do Cliente</h3>
					</div>
					<div class="card-body">
						<div class="justify-content-between align-items-center border-bottom mb-3">

							<div class="row">
								<div class="col-md-6">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Nome</span>
										<span class="text-muted">{{os.cliente}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Contato 1</span>
										<span class="text-muted">{{os.telefone}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Contato Celular</span>
										<span class="text-muted">{{os.telefonePrioritario}}</span>
									</p>

								</div>
								<div class="col-md-6">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Contato 2</span>
										<span class="text-muted">{{os.foneDoContato}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Contato Residencial</span>
										<span class="text-muted">{{os.protocolo}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Contato 3</span>
										<span class="text-muted">{{os.foneSubscricao}}</span>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="card callout callout-info mt-2">
					<div class="card-header border-0">
						<h3 class="card-title text-info">Facilidades</h3>
					</div>
					<div class="card-body">
						<div class="justify-content-between align-items-center border-bottom mb-3">

							<div class="row">
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Tecnologia</span>
										<span class="text-muted">{{os.tecnologiaCrmPeople}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Shelf</span>
										<span class="text-muted">{{os.shelf}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Gerência</span>
										<span class="text-muted">{{os.gerencia}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Status Porta</span>
										<span class="text-muted">{{os.statusDaPorta}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Bloco CPA</span>
										<span class="text-muted">{{os.blocoCpa}}</span>
									</p>

								</div>
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Cental Mãe</span>
										<span class="text-muted">{{os.centralMae}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Slot</span>
										<span class="text-muted">{{os.slot}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Modelo</span>
										<span class="text-muted">{{os.modeloRubi}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Tipo Estação</span>
										<span class="text-muted">{{os.tipoDeEstacao}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Bloco Rede</span>
										<span class="text-muted">{{os.blocoRede}}</span>
									</p>

								</div>
								<div class="col-md-4">
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Categoria</span>
										<span class="text-muted">{{os.categoria}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Porta</span>
										<span class="text-muted">{{os.porta}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Serial</span>
										<span class="text-muted">{{os.serial}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">IP Dados</span>
										<span class="text-muted">{{os.ipMsanDados}}</span>
									</p>
									<p class="d-flex flex-column">
										<span class="font-weight-bold">Localidade</span>
										<span class="text-muted">{{os.locFisica}}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card callout callout-info mt-2">
					<div class="card-header border-0">
						<h3 class="card-title text-info">Perfilamento</h3>
					</div>
					<div class="card-body">
						<div class="justify-content-between align-items-center border-bottom mb-3">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Contato com sucesso</label>
										<select v-model="perfilamento.blContato" @change="getPerfilamento"
											class="form-control">
											<option value="1">Sim</option>
											<option value="0">Não</option>
										</select>
									</div>
									<div v-if="perfilamento.blContato == 1">
										<div class="form-group">
											<label>Código Exame</label>
											<select v-model="perfilamento.idCodExame"
												@change="getPerfilamento(), perfilamento.tratativa = ''"
												class="form-control">
												<option v-for="i in listExames" :key="i.idCodExame"
													:value="i.idCodExame">
													{{ i.idCodExame }}
												</option>
											</select>
										</div>
										<div v-if="perfilamento.idCodExame != null" class="form-group">
											<label>Finalização</label>
											<select @change="setTratativa" v-model="tratativa" class="form-control">
												<option v-for="i in listPerfilamento" :key="i.idPerfilamento"
													:value="i">
													{{ i.perfilamento }}
												</option>
											</select>
										</div>
										<div v-if="perfilamento.tratativa != null" class="form-group">
											<label>Tratativa</label>
											<input disabled v-model="perfilamento.tratativa" class="form-control" />
										</div>
									</div>
								</div>
								<div v-if="tratativa != ''" class="col-md-4">
									<div class="form-group">
										<label>Observação</label>
										<textarea v-model="perfilamento.observacao" class="form-control" rows="12"
											placeholder="..."></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div  class="card-footer">
						<button v-if="perfilamento.observacao" @click="salvarTratamento" class="btn btn-success m-1">
							Encerrar
						</button>
						<button @click="salvarTratamento" class="btn btn-info">
							Fechar
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/tema/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/tema/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/tema/dist/js/adminlte.min.js}"></script>
</body>

</html>

<script>
	var mv = new Vue({
		el: "#vms",
		data() {
			return {
				os: [],
				perfilamento: {},
				listExames: [],
				listPerfilamento: [],
				tratativa: [],
				dadosSavePerfilamento: {}
			}
		},
		mounted() {
			this.getExames()
			this.getOsEmAtendimentoTratamento()
		},
		methods: {
			getExames() {
				axios.get("/exames/get").then((resp) => {
					this.listExames = resp.data

				}).catch((error) => {
					console.log(error)
				})
			},
			getPerfilamento() {
				axios.get("/perfilamento/get?codigoExame=" + this.perfilamento.idCodExame).then((resp) => {
					this.listPerfilamento = resp.data
				}).catch((error) => {
					console.log(error)
				})
			},
			setTratativa() {
				console.log(this.tratativa)
				this.perfilamento.idPerfilamento = this.tratativa.idPerfilamento;
				this.perfilamento.tratativa = this.tratativa.tratativa;
				this.perfilamento.idTratativa = this.tratativa.idTratativa;
			},
			salvarTratamento() {
				this.perfilamento.idUsuario = 1
				console.log(this.perfilamento)
				$.ajax({
					method: "POST",
					url: "/tratamento/save",
					data: this.perfilamento,
					// data: {
					// 	idbd: this.perfilamento.idBd = 1234
					// },
					beforeSend: function () {

					},
					success: function (response) {		
						// mv.finalizarOS();	
						console.log(response)			
					},
					error: function (xhr) {
						// alert("Ops, algo deu errado: " + xhr.status + ", " + xhr.statusText);
					}
				});
			},
			finalizarOS() {
				$.ajax({
					method: "POST",
					url: "/osAtendimento/finalizarOS",
					data: {
						idBd: this.perfilamento.idBd,
						idStatus: 5
					},
					beforeSend: function () {

					},
					success: function (response) {
						setTimeout(() => {
							window.location.href = "http://localhost:8888/operador/atendimento";
						}, 500);
					},
					error: function (xhr) {
						// alert("Ops, algo deu errado: " + xhr.status + ", " + xhr.statusText);
					}
				});
			},
			getOsEmAtendimentoTratamento() {
				axios.get("/tratamento/getOsAtendimento").then((resp) => {
					// this.perfilamento.dataInicioTratamento = resp.data[0].dataInicioTratamento				
					this.perfilamento.idTratamento = resp.data[0].idTratamento
					this.perfilamento.idBd = resp.data[0]['idBd'].idBd
					this.getOsEmAtendimento(parseInt(resp.data[0]['idBd'].idBd))
				}).catch((error) => {
					console.log(error)
				})
			},
			getOsEmAtendimento(idbd) {
				axios.get("/osAtendimento/get?idbd=" + idbd).then((resp) => {
					console.log(resp.data)
					this.os = resp.data
				}).catch((error) => {
					console.log(error)
				})
			}
		}
	})
</script>