
<div class="row">
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-warning elevation-1"><i
				class="fas fa-check"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">OS Vinculadas</span> <span
					class="info-box-number"> 5 </span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-warning elevation-1"><i
				class="fas fa-thumbs-up"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">OS Atendidas</span> <span
					class="info-box-number">1</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix hidden-md-up"></div>

	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-warning elevation-1"><i
				class="fas fa-history"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">OS em aguarda de retorno</span> <span
					class="info-box-number">4</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-warning elevation-1"><i
				class="fas fa-users"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Situacao do operador</span> <span
					class="info-box-number">Ativo <i class="fas fa-play"></i></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
</div>